tmp/*
pkg/*
*.bundle
*.[oa]
*.[sl]o
*.l[ao]
ext/rlibmemcached/Makefile
ext/rlibmemcached/bin
ext/rlibmemcached/include
ext/rlibmemcached/lib
ext/rlibmemcached/share
ext/rlibmemcached/Makefile.in
ext/**/Makefile
ext/rlibmemcached/libmemcached-*/**/Makefile
ext/rlibmemcached/libmemcached-*/autom4te.cache
ext/rlibmemcached/libmemcached-*/clients/memcat
ext/rlibmemcached/libmemcached-*/clients/memcp
ext/rlibmemcached/libmemcached-*/clients/memdump
ext/rlibmemcached/libmemcached-*/clients/memerror
ext/rlibmemcached/libmemcached-*/clients/memflush
ext/rlibmemcached/libmemcached-*/clients/memrm
ext/rlibmemcached/libmemcached-*/clients/memslap
ext/rlibmemcached/libmemcached-*/clients/memstat
ext/rlibmemcached/libmemcached-*/config.h
ext/rlibmemcached/libmemcached-*/config.log
ext/rlibmemcached/libmemcached-*/config.status
ext/rlibmemcached/libmemcached-*/libmemcached/memcached_configure.h
ext/rlibmemcached/libmemcached-*/libtool
ext/rlibmemcached/libmemcached-*/stamp*
ext/rlibmemcached/libmemcached-*/support/libmemcached.pc
ext/rlibmemcached/libmemcached-*/support/libmemcached-fc.spec
ext/rlibmemcached/libmemcached-*/tests/atomsmasher
ext/rlibmemcached/libmemcached-*/tests/startservers
ext/rlibmemcached/libmemcached-*/tests/testapp
ext/rlibmemcached/libmemcached-*/tests/testplus
ext/rlibmemcached/libmemcached-*/tests/udptest
ext/rlibmemcached/rlibmemcached_wrap.c.in
ext/mkmf.log
*.[1,3]
.libs
