pkg/*
*.bundle
*.[oa]
*.[sl]o
*.l[ao]
ext/Makefile
ext/bin
ext/include
ext/lib
ext/share
ext/Makefile.in
ext/**/Makefile
ext/libmemcached-*/**/Makefile
ext/libmemcached-*/autom4te.cache
ext/libmemcached-*/clients/memcat
ext/libmemcached-*/clients/memcp
ext/libmemcached-*/clients/memdump
ext/libmemcached-*/clients/memerror
ext/libmemcached-*/clients/memflush
ext/libmemcached-*/clients/memrm
ext/libmemcached-*/clients/memslap
ext/libmemcached-*/clients/memstat
ext/libmemcached-*/config.h
ext/libmemcached-*/config.log
ext/libmemcached-*/config.status
ext/libmemcached-*/libmemcached/memcached_configure.h
ext/libmemcached-*/libtool
ext/libmemcached-*/stamp*
ext/libmemcached-*/support/libmemcached.pc
ext/libmemcached-*/support/libmemcached-fc.spec
ext/libmemcached-*/tests/atomsmasher
ext/libmemcached-*/tests/startservers
ext/libmemcached-*/tests/testapp
ext/libmemcached-*/tests/testplus
ext/libmemcached-*/tests/udptest
ext/rlibmemcached_wrap.c.in
*.[1,3]
.libs
