tmp/*
pkg/*
*.bundle
*.[oa]
*.[sl]o
*.l[ao]
*.[1,3]
.libs
ext/mkmf.log
/vendor/libmemcached-*/build
/vendor/libmemcached-*/**/Makefile
/vendor/libmemcached-*/autom4te.cache
/vendor/libmemcached-*/clients/memcat
/vendor/libmemcached-*/clients/memcp
/vendor/libmemcached-*/clients/memdump
/vendor/libmemcached-*/clients/memerror
/vendor/libmemcached-*/clients/memflush
/vendor/libmemcached-*/clients/memrm
/vendor/libmemcached-*/clients/memslap
/vendor/libmemcached-*/clients/memstat
/vendor/libmemcached-*/config.h
/vendor/libmemcached-*/config.log
/vendor/libmemcached-*/config.status
/vendor/libmemcached-*/libmemcached/memcached_configure.h
/vendor/libmemcached-*/libtool
/vendor/libmemcached-*/stamp*
/vendor/libmemcached-*/support/libmemcached.pc
/vendor/libmemcached-*/support/libmemcached-fc.spec
/vendor/libmemcached-*/tests/atomsmasher
/vendor/libmemcached-*/tests/startservers
/vendor/libmemcached-*/tests/testapp
/vendor/libmemcached-*/tests/testplus
/vendor/libmemcached-*/tests/udptest
